<html>
<body>
    <link rel="stylesheet" href="styles.css">
    <h3><a href="/listdevelopers">List all developers</a></br>
        <a href="/">Homepage</a>
    </h3>
    <form action="/newDeveloper" method="POST">
        <label>Developer Name</label>
           <label>first Name</label>
           <input type ="text" name="firstName"/></br>
           <label>last Name</label>
           <input type ="text" name="lastName"/></br>
        <label>Level</label>
        <select name="level">
            <OPTION value="beginer">beginer</OPTION>
            <OPTION value="expert">expert</OPTION>
        </select></br>
        
        <label>State</label>
        <input type="text" name="state"/>
        <label>Suburb</label>
        <input type="text" name="suburb"/>
        <label>Street</label>
        <input type="text" name="street"/>
        <label>Unit</label>
        <input type="text" name="unit"/>
        <button type="submit">Submit</button>

    </form>
    
</body>
</html>